.selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.selector-wrapper__label {
  cursor: pointer;
}

.selector-wrapper--disabled .selector-wrapper__label {
  cursor: default;
}

.selector-wrapper--read-only {
  pointer-events: none;
}

.selector-wrapper--read-only .selector-wrapper__label {
  cursor: default;
}

// Align selector to top of title text baseline
.selector-wrapper__selector {
  display: flex;
  align-items: center;
  padding-top: 3px;
  flex-shrink: 0;
}

.selector-wrapper__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
}
